{% extends 'base.html' %}

{% block title %}
About US
{% endblock title %}

{% block body %}
<img src="http://source.unsplash.com/1280x720/?Army" class="d-block w-100" alt="...">
<h2> SHREE GURU RAGHAVENDRA SWAMY PRASANNA </h2>
<h4>It is proud thing for us to say that, we are the best seller of Pizza, Burger,Beverages etc all over the world. Originally this Pizza house was 
    opened in dharwad in small scale by Raksha's uncle Naveen Tadas, who was an Indian Army Officer. Due to our culinary Pizza and delicious burger we got support from customer all over the world. 
    And Now we have over 10,000 branches over the world </h4>


{% endblock body %}
