{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/Gurugala.JPG" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2> SHREE GURU RAGHAVENDRA SWAMY PRASANNA </h2>
                <p>In the grace of lord Raghavendra swamy we got an opportunity to serve you! Its our pleasure to serve you</p>
          </div>
          <div class="carousel-item">
            <img src="http://source.unsplash.com/1280x720/?pizza" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>It looks looks good but its taste is best </h2>
                <p>Enjoy your favorite pizza here</p>
          </div>
          <div class="carousel-item">
            <img src="http://source.unsplash.com/1280x720/?burger" class="d-block w-100" alt="...">
            <h2>Love is main ingradient of our softy burger </h2>
            <p>Enjoy your favorite Burger here</p>
          </div>
          <div class="carousel-item">
            <img src="http://source.unsplash.com/1280x720/?beverage" class="d-block w-100" alt="...">
            <h2> Chill the spicy taste with cold coke </h2>
            <p>Enjoy your favorite beverages here</p>
          </div>
</div>
<main>

    <section class="py-5 text-center container my-3">
        <h1>Select from range of Pizza</h1>
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <p class="lead text-body-secondary">**** -------- ****</p>
          <p>

          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="http://source.unsplash.com/600x600/?pizza,boy"
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="http://source.unsplash.com/600x600/?pizza,girl"
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="http://source.unsplash.com/600x600/?pizza,lady"
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  
          
  </html>

  <main>

    <section class="py-5 text-center container my-3">
        <h1>Select from range of Burger</h1>
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <p class="lead text-body-secondary">**** -------- ****</p>
          <p>

          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="http://source.unsplash.com/600x600/?burger,boy"
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="http://source.unsplash.com/600x600/?burger,girl"
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="http://source.unsplash.com/600x600/?burger,lady"
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  
          
  </html>
{% endblock body %}