{% extends 'base.html' %}

{% block title %}
About US
{% endblock title %}

{% block body %}
<img src="http://source.unsplash.com/1280x720/?pizza, burger, beverages" class="d-block w-100" alt="...">
<h2> SHREE GURU RAGHAVENDRA SWAMY PRASANNA </h2>
<h2>We have having wide range on Pizza, Burger and Beverages. Please select accordingly in concerned section. </h2>
<h3> ** Veg Pizza................................................ ** Non-Veg Pizza </h3>
<h4> ** MARGHERITA -- 115 Rs..................................** Chicken golden gelight -- 180 Rs </h4>
<h4> ** Double cheese MARGHERITA -- 140 Rs...........** Non Veg Supreme -- 210 Rs </h4>
<h4> ** Farm House -- 125 Rs....................................... ** Chicken Dominator -- 240 Rs </h4>
<h4> ** Peppy Panner -- 160 Rs..................................... ** Pepper Barbecaue -- 210 Rs </h4>
<h4> ** Mexican green wave -- 115 Rs............................** Chicken Sausage -- 200 Rs  </h4>
<h4> ** Cheese corn -- 150 Rs............................................** Chicken Fiesta -- 225 Rs  </h4>


<h3> ** Burger................................................ ** Beverage </h3>
<h4> ** Veg -- 70 Rs................................................. ** Pepsi 475ML -- 60 Rs </h4>
<h4> ** Chicken Burger -- 110 Rs................................** Coke 475ML -- 50 Rs </h4>
<h4> ** Pannner Burger -- 95 Rs................................** Mirinda 475ML -- 60 Rs </h4>
<h4> ** Corn Burger -- 90 Rs..................................... ** Sprite 475ML -- 55 Rs </h4>



{% endblock body %}